/*CSS AulaHTML*/
/*  Geral   */
body {
    font-family: "sans-serif";
}

/* Estilos aplicados nos elementos dentro da div-paragrafos */
#div-paragrafos {
    color: aliceblue;
    background-color: rgb(93,93,145);
} 

/* Aplicar estilo par classe .longo */
.longo {
    background-color: bisque;
}

/* Aplicar estilo para o id=p1 */
#p1 {
    color: brown;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Aplicar estilo para a tag p */
p{
    font-family: 'Courier New', Courier, monospace;
}

/* Aplicar estilo para o id=p1 */
h1 {
    background-color: aqua;
}